base58==2.1.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.0.3
Flask==2.0.2
Flask-Cors==3.0.10
idna==3.4
ipfshttpclient==0.8.0a2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
multiaddr==0.0.9
netaddr==0.8.0
python-dotenv==0.19.1
requests==2.31.0
six==1.16.0
urllib3==2.0.3
varint==1.0.2
Werkzeug==2.0.2
